target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### Eclipse ###
.classpath
.project
.settings/
bin/

### VS Code ###
.vscode/

### Mac ###
.DS_Store

### Logs ###
*.log

### Senhas locais (não subir o application.properties com senha real) ###
# application-local.properties
